/* header */

.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* header main */

.header-main {
    background-color: #0078ad;
}

.header-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 20px 8px;
}

.container-left {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.header-logo {
    margin-right: 20px;
}

.header-logo img {
    background-color: #0078ad;
    width: 111px;
    height: 36px;
}

.address {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #0078ad;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.address:hover {
    background-color: #0c5273;
    border-radius: 50px;
}

.address img {
    color: #fff;
    font-size: 16px;
    margin-right: 4px;
}

.address p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.address span  {
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.container-right {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 40px; 
}

.search {
    display: flex;
    align-items: center;
    height: 38px;
    background-color: #0c5273;
    border-radius: 200px;
    padding: 0 10px;
    width: 100%;
    max-width: 600px; 
}

.search-icon {
    display: flex;
    align-items: center;
    border-right: 1px solid #fff;
}

.search-icon i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    background: transparent;
    color: #fff;
    width: 490px;
}

.search input[type="text"]::placeholder {
    color: #fff;
    opacity: 1; 
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user i {
    padding: 6px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.user .bxs-cart {
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user .bxs-cart:hover {
    background-color: #0c5273;
    border-radius: 50%;
}

.user-signin {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: #0078ad;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.user-signin:hover {
    background-color: #0c5273;
    border-radius: 25px;
}

.user-signin i {
    padding: 0;
}

.user-signin i {
    font-size: 24px;
    color: #fff;
}

.user-signin span {
    font-size: 14px;
    color: #fff;
}

/* header navbar */

.header-nav {
    background-color: #0c5273;
}

.nav-container {
    max-width: 100%;
    margin: 0px 150px;
    padding-right: 8px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 48px;
    color: #fff;
    background-color: #0c5273;
}

.navitem {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.navitem ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nitem {
    position: relative;
    padding: 0;
    margin-right: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.nitem a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    max-width: 200px;
    padding: 12px 8px 8px 8px;
    position: relative;
}

.nitem a::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 5px; 
    background-color: #0078ad;
    transition: width 0.3s ease;
}

/* ----- Grocery ----- */

.nitem:hover > a::after,
.nitem .g-dropdown:hover > a::after {
    width: 100%; 
}

.g-dropdown {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f7f7f7; 
    padding: 10px 0px 10px 10px;
    width: 230px;
    height: 450px;
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999; 
}

.g-dropdown::-webkit-scrollbar {
    display: none;
}

.nitem:hover .g-dropdown {
    display: block;
}

.g-main {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.g-main-item {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.g-main-item a {
    width: 100%;
    color: #626262;
    text-decoration: none;
    display: flex;
    padding: 6px 12px 6px 12px;
    transition: background-color 0.3s ease;
}

.g-main-item:hover{
    color: #0b0b0b;
    font-weight: 600;
}

.g-main li:hover {
    background-color: #cadfff; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ----- All Categories ----- */

.category {
    display: flex;
    justify-content: center;
}

.category a {
    padding: 12px 8px 8px 8px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    position: relative; 
}

.category a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #0078ad;
    transition: width 0.3s ease;
}

.category a:hover::after {
    width: 100%; 
}

.category .bx-chevron-down {
    font-size: 14px;
}