/* main */

/* hero banner */

.scroll-banner {
    margin-top: 150px;
}

.scroll-banner .scroll-banner-container {
    margin: 0 158px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    overflow-x: auto;
}

.scroll-banner .scroll-banner-container img {
    width: 384px;
    height: 223px;
    border-radius: 24px;
}
